# Machine Learing and Data Engineering Project

In [1]:
# importing core libraries
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

## Data ETL (Extract, Transform, Load)

In [12]:
# importing datasets
switzerland_data = pd.read_csv("processed.switzerland.data")
cleveland_data = pd.read_csv("processed.cleveland.data", encoding="latin-1")
hungary_data = pd.read_csv("processed.hungarian.data")
long_beach_data = pd.read_csv("processed.va.data")

# modifying datasets and observing rows
dataset_list = [switzerland_data,cleveland_data,hungary_data,long_beach_data]
dataset_column_names = ["age","sex","cp","trestbps","chol","fbs","restecg","thalach","exang","oldpeak","slope","ca","thal","num"]
for df in dataset_list:
    df.columns = dataset_column_names
    print(df.head())
    print(df.info())
    print("\n")

   age  sex  cp trestbps  chol fbs restecg thalach exang oldpeak slope ca  \
0   34    1   4      115     0   ?       ?     154     0      .2     1  ?
1   35    1   4        ?     0   ?       0     130     1       ?     ?  ?
2   36    1   4      110     0   ?       0     125     1       1     2  ?
3   38    0   4      105     0   ?       0     166     0     2.8     1  ?
4   38    0   4      110     0   0       0     156     0       0     2  ?

  thal  num
0    ?    1
1    7    3
2    6    1
3    ?    2
4    3    1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122 entries, 0 to 121
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       122 non-null    int64
 1   sex       122 non-null    int64
 2   cp        122 non-null    int64
 3   trestbps  122 non-null    object
 4   chol      122 non-null    int64
 5   fbs       122 non-null    object
 6   restecg   122 non-null    object
 7   thalach   122 non-null    object
 8   exang     122 non-null    object
 9   oldpeak   122 non-null    object
 10  slope     122 non-null    object
 11  ca        122 non-null    object
 12  thal      122 non-null    object
 13  num       122 non-null    int64
dtypes: int64(5), object(9)
memory usage: 13.5+ KB
None


    age  sex   cp  trestbps   chol  fbs  restecg  thalach  exang  oldpeak  \
0  67.0  1.0  4.0     160.0  286.0  0.0      2.0    108.0    1.0      1.5
1  67.0  1.0  4.0     120.0  229.0  0.0      2.0    129.0    1.0      2.6
2  37.0  1.0  3.0     130.0  250.0  0.0      0.0    187.0    0.0      3.5
3  41.0  0.0  2.0     130.0  204.0  0.0      2.0    172.0    0.0      1.4
4  56.0  1.0  2.0     120.0  236.0  0.0      0.0    178.0    0.0      0.8

   slope   ca thal  num
0    2.0  3.0  3.0    2
1    2.0  2.0  7.0    1
2    3.0  0.0  3.0    0
3    1.0  0.0  3.0    0
4    1.0  0.0  3.0    0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 302 entries, 0 to 301
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       302 non-null    float64
 1   sex       302 non-null    float64
 2   cp        302 non-null    float64
 3   trestbps  302 non-null    float64
 4   chol      302 non-null    float64
 5   fbs       302 non-null    float64
 6   restecg   302 non-null    float64
 7   thalach   302 non-null    float64
 8   exang     302 non-null    float64
 9   oldpeak   302 non-null    float64
 10  slope     302 non-null    float64
 11  ca        302 non-null    object
 12  thal      302 non-null    object
 13  num       302 non-null    int64
dtypes: float64(11), int64(1), object(2)
memory usage: 33.2+ KB
None


   age  sex  cp trestbps chol fbs restecg thalach exang  oldpeak slope ca  \
0   29    1   2      120  243   0       0     160     0      0.0     ?  ?
1   29    1   2      140    ?   0       0     170     0      0.0     ?  ?
2   30    0   1      170  237   0       1     170     0      0.0     ?  ?
3   31    0   2      100  219   0       1     150     0      0.0     ?  ?
4   32    0   2      105  198   0       0     165     0      0.0     ?  ?

  thal  num
0    ?    0
1    ?    0
2    6    0
3    ?    0
4    ?    0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293 entries, 0 to 292
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       293 non-null    int64
 1   sex       293 non-null    int64
 2   cp        293 non-null    int64
 3   trestbps  293 non-null    object
 4   chol      293 non-null    object
 5   fbs       293 non-null    object
 6   restecg   293 non-null    object
 7   thalach   293 non-null    object
 8   exang     293 non-null    object
 9   oldpeak   293 non-null    float64
 10  slope     293 non-null    object
 11  ca        293 non-null    object
 12  thal      293 non-null    object
 13  num       293 non-null    int64
dtypes: float64(1), int64(4), object(9)
memory usage: 32.2+ KB
None


   age  sex  cp trestbps chol fbs  restecg thalach exang oldpeak slope ca  \
0   44    1   4      130  209   0        1     127     0       0     ?  ?
1   60    1   4      132  218   0        1     140     1     1.5     3  ?
2   55    1   4      142  228   0        1     149     1     2.5     1  ?
3   66    1   3      110  213   1        2      99     1     1.3     2  ?
4   66    1   3      120    0   0        1     120     0    -0.5     1  ?

  thal  num
0    ?    0
1    ?    2
2    ?    1
3    ?    0
4    ?    0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       199 non-null    int64
 1   sex       199 non-null    int64
 2   cp        199 non-null    int64
 3   trestbps  199 non-null    object
 4   chol      199 non-null    object
 5   fbs       199 non-null    object
 6   restecg   199 non-null    int64
 7   thalach   199 non-null    object
 8   exang     199 non-null    object
 9   oldpeak   199 non-null    object
 10  slope     199 non-null    object
 11  ca        199 non-null    object
 12  thal      199 non-null    object
 13  num       199 non-null    int64
dtypes: int64(5), object(9)
memory usage: 21.9+ KB
None